{% assign provider = site.comments.provider | default: "gisqus" %}
{% if provider == "giscus" %}
  <script src="https://giscus.app/client.js"
        data-repo = {{ giscus.repo }}
        data-repo-id = {{ giscus.repo-id }}
        data-category = {{ giscus.category }}
        data-category-id = {{ giscus.category-id }}
        data-mapping = {{ giscus.mapping }}
        data-strict = {{ giscus.strict }}
        data-reactions-enabled = {{ giscus.reactions-enabled }}
        data-emit-metadata = {{ giscus.emit-metadata }}
        data-input-position = {{ giscus.input-position }}
        data-theme = {{ giscus.theme }}
        data-lang = {{ giscus.lang }}
        data-loading = {{ giscus.loading }}
        crossorigin = {{ giscus.crossorigin }}
        async>
</script>
{%- endif -%}
