html {
  max-width: 760px;
  margin: auto;
}

body {
  font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 5px;
  line-height: 2;
}

p {
  font-size: 1rem;
}

nav a.page-link {
  padding-right: 10px;
}

a.site-title {
  float: left;
}

nav {
  float: right;
}

a:link {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #1756a9;
}

a:hover {
  text-decoration: underline;
}

header {
  border-bottom: 1px lightgrey solid;
  padding: 10px;
}

footer {
  text-align: center;
  border-top: 1px lightgrey solid;
  padding: 10px;
}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list > li {
  margin-bottom: 10px;
}

.post-list > li > h3 {
  margin: -10px 0 0 0;
}

span.post-meta {
  font-size: 0.875rem;
  color: grey;
}

a.post-link {
  width: fit-content;
  font-size: 1.5rem;
}
