---
---

@import "{{ site.theme }}";

html {
  max-width: 760px;
  margin: auto;
}

body {
  font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 5px;
  line-height: 2;
}

nav a.page-link {
  padding-right: 10px;
}

a.site-title {
  float: left;
}

nav {
  float: right;
}

a:link {
  color: #2a7ae2;
  text-decoration: none;
}

a:visited {
  color: #1756a9;
}

header {
  border-bottom: 1px lightgrey solid;
  padding: 10px;
}

footer {
  text-align: center;
  border-top: 1px lightgrey solid;
  padding: 10px;
}
