---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  max-width: 760px;
  margin: auto;
}

body {
  font-family: "Noto Sans", sans-serif;
  padding: 5px;
  line-height: 2;
}

nav a.page-link {
  padding-right: 10px;
}

a.site-title {
  float: left;
}

nav {
  float: right;
}

header {
  border-bottom: 1px lightgrey solid;
  padding: 10px;
}

h1 {
  padding: 0;
}

footer {
  text-align: center;
  border-top: 1px lightgrey solid;
  padding: 10px;
}

.giscus, .giscus-frame {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
}

.giscus-frame {
  border: none;
}

#document {
  font-family: "Noto Sans", sans-serif;
}
