---
layout: default
---

{{ content }}

{% assign posts = site.posts %}

{%- if posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | remove: ".html" | relative_url }}">
            {{ post.title | escape }}
            </a>
        </h2>
        {% comment %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {% endcomment %}
      </li>
    {%- endfor -%}
  </ul>

{%- endif -%}
